<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MOOV</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MOOV</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.539403240889-1jenth4caipickvn7guka4mohiov020c</string>
				<string>com.MOOV.ND.braintree</string>
				<string>com.MOOV.ND.payments</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.MOOV.ND</string>
				<string>com.MOOV.ND.braintree</string>
				<string>com.MOOV.ND.payments</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.venmo.touch.v2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSAppleMusicUsageDescription</key>
	<string>MOOV requires access to your media library so that you can share your favorite things with your friends! We will never access this without your consent or permisson!</string>
	<key>NSCalendarsUsageDescription</key>
	<string>MOOV requires access to your calendar so that you can easily see future MOOVs! We will never access this without your consent or permisson!</string>
	<key>NSCameraUsageDescription</key>
	<string>MOOV requires access to your phone&apos;s camera so that you can upload images with your MOOVs. We will never access this without your consent or permisson!</string>
	<key>NSContactsUsageDescription</key>
	<string>This just allows you to invite your friends! We will never access this without your consent or permisson!</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MOOV requires access to your location so that you can check into MOOVs and event hosts can confirm that you are there! We will never access this without your consent or permisson!</string>
	<key>NSMotionUsageDescription</key>
	<string>MOOV requires access to your motion so that you can share with friends! We will never access this without your consent or permisson!</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MOOV requires read and write access to the photo library so that you can post pictures with your MOOVs! We will never access this without your consent or permisson!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MOOV requires access to the photo library so you can share pictures with your MOOVs! We will never access this without your consent or permisson!</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MOOV requires access to speech recognition so that you can share audio with friends! We will never access this without your consent or permisson!</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>MOOV requires access to your music.</string>
</dict>
</plist>
